<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DESKTOP-HPVK86O\SQLEXPRESS_Exercise2SolutionDB_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-HPVK86O\SQLEXPRESS;integrated security=SSPI;initial catalog=Exercise2SolutionDB" />
    </connectionStrings>
</configuration>